$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css';

body {
  color: #212529;
  font-size: 18px;
  line-height: 1.6;
  margin: 40px auto;
  max-width: 650px;
  padding: 0 10px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
